html, div, span, img {
  color: black;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

h4 {
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: bold;
}

a {
  font-size: 16px;
  padding: 5px;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 1px solid black;
}

p {
  margin: 5px auto;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

span {
  max-width: 250px;
  margin: 20px;
  text-align: right;
  word-wrap: break-word;
}

#results {
  max-width: 720px;
}

.chip {
  color: white;
}

.chip:hover {
  box-shadow: 1px 1px 1px gray;
  cursor: pointer;
}

.source-link {
  margin-right: 5px;
}

.source-link:hover {
  text-decoration: underline;
}

.logo {
  width: 90px;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.logo:hover {
  box-shadow: 1px 1px 1px gray;
}

.list-item:hover {
  cursor: pointer;
}

.source-item, .source-link {
  display: inline-block;
}

#initial-results {
  width: 720px;
  margin: 10px auto;
}

.episode-link {
  display: block;
}
